html,
body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}


.cat-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
}

.cat {
    display: flex;
    border-radius: 25px;
    text-align: center;
}

.cat-title,
.counter {
    font-size: 1.5em;
    letter-spacing: .4em;
}

.kittyImg {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 250px;
}

.hide {
    display: none;
}