html,
body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

li {
    list-style: none;
}

#cat-collection {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#cat-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#cat-name,
#cat-counter,
li {
    font-size: 1.5em;
    letter-spacing: .2em;
}

li {
    padding: 10px;
}

li:hover {
    color: gray;
}

#cat-img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

#admin-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
}

#admin {
    margin: 10px;
}

#admin-form input {
    margin-bottom: 10px;
}

#admin-form p {
    margin: 0;
}